{% extends 'base.html.twig' %}
{% block title %}- Blog List{% endblock %}

{% block body %}
    <div class="container mt-5">

        {% for post in postList %}

            <div class="mx-auto" >
                <div class="card">
                    <div class="inline-div">
                        <div class="color-round" style="background-color: {{ post.category.couleur }}">  </div>
                        <h3 class="title">{{ post.title }}</h3>
                    </div>
                    <p class="ml-3 post">{{ post.description }}</p>

                    <p class="text-muted text-right">{{ post.createdAt | date('d M Y') }}</p>
                </div>
            </div>

            <hr>

        {% endfor %}

        <a class="nav-link" href="{{ path('postform') }}">Ajouter un post</a>

    </div>
{% endblock %}