{% extends 'base.html.twig' %}
{% block title %}- Blog List{% endblock %}

{% block body %}
    <div class="container mt-5 post-form">


        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.description) }}

        {{ form_row(form.categories) }}

        {{ form_end(form) }}

    </div>
{% endblock %}